.customize-button {
  bottom: 0;
  left: 0;
  box-shadow: var(--shadow-button-bottom);
  padding: 0;
  text-align: center;
  background-color: white;
  width: 100%;

  .button {
    background-color: var(--color-blue-button);
    padding: 10px;
    color: white;
    width: 100%;
    border: 0;
    font-size: 18px;

    &__label {
      padding: 0 10px;
      font-weight: 500;
    }
  }
}
